* {
    margin: 0;
    padding: 0;
}

.NavBarDiv {
    background-image: url("../Images/istockphoto-1061119906-612x612.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}

.NavTag {
    padding-left: 30px;
}

.NavTag li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px;
    padding-top: 60px;
    margin-bottom: 100px;
}

.anchorsList {
    text-decoration: none;
    color: white;
}


/*Cursor Mouse Pointer*/

.anchorsList:hover {
    cursor: pointer;
    color: gold;
}

.NameOfAGame {
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 105px;
    right: 0;
    left: 0;
    bottom: 0;
}

.BodyDiv {
    /* background-color: lightgrey; */
    display: grid;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.welcome {
    margin-bottom: 30px;
    text-align: center;
}

.SomePhragraph1 {
    font-weight: bold;
    font-size: large;
    color: navy;
    text-align: center;
    margin-bottom: 30px;
}

.WhatIs {
    border-style: solid;
    border-color: navy;
    border-radius: 30px;
    height: 200px;
    width: 450px;
    position: absolute;
    left: 539px;
    right: 0;
    top: 128px;
}

.Question {
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
    color: navy;
    text-align: center;
    margin-bottom: 30px;
}

.Answer {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.LetUsPlay {
    border-style: solid;
    border-color: navy;
    border-radius: 30px;
    height: 400px;
    width: 450px;
    position: absolute;
    left: 530px;
    right: 0;
    top: 350px;
    width: 30vw;
}

.GameImage {
    /* position: absolute;
    left: 530px;
    right: 0;
    top: 350px; */
    height: 30vh;
    width: 30vw;
}

.ButtonPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40px;
    right: 0;
    bottom: 80px;
    width: 80%;
    height: 10%;
    border-radius: 10px;
    background-color: #0062A8;
    color: snow;
    font-size: 20px;
    cursor: pointer;
}